<header class="header">
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="col-md-2 pd-only tab-only col-sm-12">
        <span class="Taas_style">Food App</span>
        <span class="icon-menu"> 
          <button class="navbar-toggler" type="button" (click)="onShow()" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button></span>
      </div>
      <div class="collapse navbar-collapse  md-pd-left-0 col-sm-12 col-md-10 pd-only" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto col-md-12 pd-right-0">
          <div class="col-md-8 no-pd-mb">
            <span class="space"></span>
            <li class="nav-item left">
              <a mat-button title="Restaurant" href="#breakfastSection">
                Breakfast
              </a>
            </li>
            <li class="nav-item left">
              <a mat-button title="Lunch" href="#lunchSection">
                Lunch
              </a>
            </li>
            <li class="nav-item left">
              <a title="Faq" href="#dinnerSection" mat-button>
                Dinner
              </a>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>


</header>